<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="jetbrains-rd" value="https://packages.jetbrains.team/maven/p/rd/public" />
    <add key="jetbrains-dotnet-public" value="https://packages.jetbrains.team/nuget/p/net/public" />
  </packageSources>
</configuration>